# Ignorar diretórios de saída do build
bin/
obj/

# Ignorar arquivos de configuração específicos do usuário
appsettings.Development.json
appsettings.Production.json
appsettings.Development.user.json
appsettings.Production.user.json

# Ignorar diretório de dependências (caso esteja usando o diretório 'packages')
packages/

# Ignorar diretório de publicação (caso esteja usando o diretório 'publish')
publish/
